@import "../prefixer.less";

/*first-time-background-fade-out*/
@-webkit-keyframes first-time-background-fade-out {
  from { 
    -webkit-opacity: 1;
  }
  to { 
    -webkit-opacity: 0;
  }
}

@-moz-keyframes first-time-background-fade-out {
  from { 
    opacity: 1;
  }
  to { 
    opacity: 0;
  }
}

#first-time-background {
  /*TODO: 100% width & height*/
  width: 1080px;
  height: 1920px;
  overflow: hidden;

  .faces {
    width: 100%;
    height: 100%;
    position: relative;
    /*TODO: background-size "cover" und onresize event*/
    &.scale {
      -webkit-transition: -webkit-transform 8.5s;
      -moz-transition: -moz-transform 8.5s;
      -ms-transition: -ms-transform 8.5s;
      -o-transition: -o-transform 8.5s;
      -transition:transform 8.5s;
      .scale(1.4);
    }
    &.fade-out {
      /* Shorthand property of -webkit takes 8 arguments */
      -webkit-animation: first-time-background-fade-out 2.5s linear 6s 1 alternate forwards running;
      /* Shorthand property of -moz takes only 6 arguments! */
      -moz-animation: first-time-background-fade-out 2.5s linear 6s 1 alternate;
      animation-play-state: running;
      animation-fill-mode: forwards;
    }
  }
}